<div class = "container">
    <h1>Edit Doctor </h1><hr/>
    <div class = "form-group"><label>Name</label><input type = "text" ng-model = "name"
        id = "name" name = "name" required/></div>
    <div class = "form-group"><label>Experience</label><input type = "number" 
        ng-model = "experience" id = "experience" name = "experience" required/> </div>
    <div class = "form-group"><label>Contact Number</label><input type = "text"
        ng-model = "contact_number" id = "contact" name = "contact" required/>
    </div><div class = "form-group"><label>Recommendations</label><input type = "number" 
        ng-model = "recommendations" id = "recommendation" name = "recommendation" required/></div>
    <div class = "form-group"><label>Verified</label><input type = "number" 
        ng-model = "verified" id = "verified" name = "verified" required/></div>
    <div class = "form-group"><label>City</label><input type = "text" 
        ng-model = "city" id = "city" name = "city" required/></div>
    <div class = "form-group"><label>Photo</label><input type = "text" 
        ng-model = "photo_link" id = "photo_link" name = "photo_link" required/></div>
    <div class = "form-group"><label>Description</label><input type = "text" 
        ng-model = "description" id = "description" name = "description" required/></div>
    <div class = "form-group"><label>Qualifications</label><input type = "text" 
        ng-model = "qualifications" id = "qualification" name = "qualification" required/></div>
    <button ng-click = "editDoctor()" class = "btn btn-primary">Save</button>
</div>