<html>
      <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
            <script src="jquery-2.1.4.min.js"> </script>
            <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
            <style type="text/css">
                  div{
                      margin:30px;
                  }

                  button{
                      width:180px;
                  }
                  input{
                      margin-left: 20px;
                      width:200px;
                      height:40px;
                  }
                  h3{
                      margin:50px;
                  }
                  img{
                        top: 0px;
                        height: 130px;
                        left: 0px;
                  }
                  .backButton{
                        position: absolute;
                        top: 80px;
                        right : 10px;
                  }
                  #updateButton{
                        left : 500px;
                  }
            </style>
            <script>
                  clinicCounter=0;
                  $(function(){
                        clinicCounter=parseInt(document.getElementById('totalClinicCount').value)+1;
                  });
                  function submitForm() {
                  var totalClinics=$('<input>').attr('type','hidden').attr('name','clinicCount').val(clinicCounter);    
                  
                  $('#doctorForm').append(totalClinics);
 //                 var degreeList=$('<input>').attr('type','hidden').attr('name','degreeList').val($('#degreeList').val());
                  var specialityList=$('<input>').attr('type','hidden').attr('name','specialityList').val($('#specialityList').val());
 //                 $('#doctorForm').append(degreeList);
                  $('#doctorForm').append(specialityList);
                  alert('Doctor Details Updated');
                  $('#doctorForm').submit();
                  
                }

                  function addClinicDetails() {
                        var newClinic=$('<div>').attr('id','clinic'+clinicCounter);
                        newClinic.append('Name');
                        var clinicName=$('<input>').attr('type','text').attr('name','clinicName'+clinicCounter);
                        newClinic.append(clinicName);
                        newClinic.append('Area');
                        var clinicArea=$('<input>').attr('type','text').attr('name','clinicArea'+clinicCounter);
                        newClinic.append(clinicArea);
                        newClinic.append('Address');
                        var clinicAddress=$('<input>').attr('type','text').attr('name','clinicAddress'+clinicCounter);
                        newClinic.append(clinicAddress);
                        newClinic.append('City');
                        var clinicCity=$('<input>').attr('type','text').attr('name','clinicCity'+clinicCounter);
                        newClinic.append(clinicCity);
                        newClinic.append('<p>');
                        newClinic.append('Contact');
                        var clinicContact=$('<input>').attr('type','text').attr('name','clinicContact'+clinicCounter);
                        newClinic.append(clinicContact);
                        newClinic.append('Timings');
                        var clinicTimings=$('<input>').attr('type','text').attr('name','clinicTimings'+clinicCounter);
                        newClinic.append(clinicTimings);
                        newClinic.append('Fees');
                        var clinicFees=$('<input>').attr('type','text').attr('name','clinicFees'+clinicCounter);
                        newClinic.append(clinicFees);
                        var deleteButton=$('<input>').attr('type','button').attr('id',clinicCounter).attr('value','delete');
                        deleteButton.click(function() {
                              $('#clinic'+(this.id)).remove();
                        });  
                        newClinic.append('<p>');
                        newClinic.append(deleteButton);
                        newClinic.append('<hr/>');
                        $('#clinicInfo').append(newClinic);
                        clinicCounter++;
                  }

            </script>
      </head>
      <body>
            <div class="container">
                  <img src="https://blog.practo.com/wp-content/uploads/2015/01/practo-logo-small.png" alt="practo"> 
                  <button id = 'back' class = "backButton" value = 'back' onclick = "location.href = '/loginSuccess'" class="btn btn-default" ><b>Go Back</b></button>
            </div>
            <form id="doctorForm" action="/updateDoctor" method="POST"> 
                  <input type="hidden" name="doctorId" value="{{ doctorInfo[0].id }}" /> 
                  <div class="form-group"> <label>Name</label><input type="text" class="form-control" id = "dName" name="dName" required value={{ doctorInfo[0].name }} required placeholder=" Enter name"></div>
                  <div class="form-group"> <label>Email</label><input type="email" class="form-control" id = "dEmail" name="dEmail" required value={{ doctorInfo[0].email }} required placeholder=" abc@practo.com"></div>
                  <div class="form-group"> <label>Experience (Years) </label><input type="text" class="form-control" id = "dExperience" name="dExperience" required value={{ doctorInfo[0].experience }} required placeholder=" eg. 3"></div>
                  <div class="form-group"> <label>Recommendations (Years) </label><input type="text" class="form-control" id = "drecommendations" name="drecommendations" required value={{ doctorInfo[0].recommendations }} required placeholder=" eg. 3"></div>
                  <input type="button" id="addClinic" value="AddClinicDetails" onclick="addClinicDetails()"/>
                  <div id="clinicInfo">       
                        <input type="hidden" id="totalClinicCount"  value={{doctorInfo[4]|length}} />
                        {% for clinicNo in range(0,doctorInfo[3]|length) %} 
                        {% set  clinicId=doctorInfo[3][clinicNo].id %}
                        {% set  clinicDivId='clinic' ~ clinicNo %}
                        {% set  clinicName='clinicName' ~ clinicNo %} 
                        {% set  clinicArea='clinicArea' ~ clinicNo %} 
                        {% set  clinicAddress='clinicAddress' ~ clinicNo %} 
                        {% set  clinicLocation='clinicLocation' ~ clinicNo %}
                        {% set  clinicContact='clinicContact' ~ clinicNo %} 
                        {% set  clinicFees='clinicFees' ~ clinicNo %}
                        {% set  clinicTimings='clinicTimings' ~ clinicNo  %}  
                        <div id="{{ clinicDivId }}" >
                              <input type="hidden" name={{ clinicDivId }} value={{ clinicId }} />
                              <label>Name </label><input type="text" name={{ clinicName}} value={{ doctorInfo[3][clinicNo].name }} required disabled />
                              <Label>Area </Label><input type="text" name={{ clinicArea}} value={{ doctorInfo[3][clinicNo].area }} required disabled />
                              <label>Address </label><input type="text" name={{ clinicAddress}} value={{ doctorInfo[3][clinicNo].address }} required disabled />
                              <label>City</label><input type="text" name={{ clinicLocation}} value={{ doctorInfo[3][clinicNo].city_name }} required disabled /><p><br>
                              <label>Contact No</label><input type="text" name={{ clinicContact}} value={{ doctorInfo[3][clinicNo].contact_no }} required disabled />
                              <label>Fees</label></label><input type="text" name={{ clinicFees}} value={{ doctorInfo[4][clinicNo].fees }} required />
                              <label>Timings</label></label><input type="text" name={{ clinicTimings}} value={{ doctorInfo[4][clinicNo].timings }}  /></p>
                              <input type="button" class="btn btn-primary" id="{{ clinicNo }}" value="delete" onclick="$('#clinic'+this.id).remove()"/><hr/>
                        </div> 
                        {% endfor %}
                  </div>
                  <div><label style="display: inline" style = "margin :30px">Select Speciality</label></div>
                  <div><select multiple class="form-control" name="dSpecialities" onchange="$('#dSpecialities option:selected').prop('selected',false)" id="specialityList">
                        {% for speciality in doctorInfo[1] %}
                              <option value={{ speciality.name }} selected> {{ speciality.name }}</option>
                        {% endfor %}
                        {% for speciality in doctorInfo[2] %}
                              <option value={{ speciality.name }} > {{ speciality.name }}</option>
                        {% endfor %} 
                  </select></div>
                  <div><input type="button" id = "updateButton" class="btn btn-success" value="update" onclick="submitForm()"/></div>
            </form>
    </body>
</html>